.news1 {
    width: 450px;
    height: fit-content;
    background: rgb(255, 255, 255);
    position: fixed;
    top: 10vh;
    left: 500px;
    z-index: 100;
    overflow: hidden;
    border-radius: 5px;
}

.backdrop1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }

  .news1 header {
    padding: 1px 10px;
    background: rgb(8, 246, 167);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news1 .heading{
    display: flex;

}
.news1 .heading img{
      height: 25px;
}

.news1 .image {
    width: 98%;
    max-height: 250px;
    margin: 4.4px;
}

.news1 .content {
    width: 100%;
    height: 300px;
    background: rgb(251, 251, 252);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news1 .head {
    display: flex;
    align-items: center;
}
.news1 .img {
    height: 25px;
}
.news1 .content h2 {
    font-size: 12px;
}
.news1 .content h1 {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}
.news1 .content p{
    margin-top: 4px;
    font-size: 10px;
    color: rgb(151, 151, 151);
}
.news1 footer {
    display: flex;
    justify-content: space-between;
}

.news1 footer button {
   width: 85px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2px 5px;
   font-size: 18px;
   font-weight: 400;
   background: linear-gradient(to bottom,#00cc66 0%, #00ff00 50%, #00cc66 100%);
   cursor: pointer;
   border-radius: 5px;
}
.news1 footer button:hover {
    background: linear-gradient(to bottom right,#33cc33 0%, #009933 50%, #33cc33 100%);
    box-shadow:0  3px 8px black;
    color: white;
 }

.news1 .closeButton {
    padding: 2px 12px;
    cursor: pointer;
    font-size: 20px;
    border: 1px white solid;
}
.news1 .closeButton:hover {
    color: white;
    background: red;
}
.news1 footer button img {
    height: 20px;
}
.news1 footer div {
    display: flex;
    align-items: flex-end;
}
.news1 footer div img {
    height: 25px;
    margin-left: 10px;
}